.header {

    background: #fff;
    border-top: 5px solid #995f35;
}

.header .inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav>ul {
    display: flex;
    gap: 75px;
    height: 100px;
}

.header .nav>ul>li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header .nav>ul>li>a {
    font-size: 20px;
    font-weight: 500;
    color: #222;
}

.header .nav>ul>li .lnb {
    position: absolute;
    top: 70px;
    left: -60px;
    transform: translate(0, 0);
    z-index: 999;
    background: #fff;
    border: 3px solid #995f35;
    border-radius: 110px 110px 75px 75px;
    padding: 100px 30px 50px 30px;

    opacity: 0;
    visibility: hidden;
}

.header .nav>ul>li:hover .lnb {
    opacity: 1;
    visibility: visible;
}

.header .nav>ul>li .lnb>li {
    width: 150px;
    white-space: nowrap;
    background: #f7b83d;
    text-align: center;
}

.header .nav>ul>li .lnb>li:first-child{
    border-radius: 10px 10px 0 0;
    padding: 20px 0 0 0;
}

.header .nav>ul>li .lnb>li:last-child {
    border-radius: 0 0 10px 10px;
    padding: 0 0 20px 0;
}

.header .nav>ul>li .lnb>li>a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 26px;
}

.main_egg {
    /* background: #ee7421; */
    position: relative;
    background: linear-gradient(to top, #f7b83d 50%, #fff 50%);
}

.main_egg .e_slide {
    gap: 20px;
}

.main_egg .e_slide .itm {
    height: calc(100vh - 300px);
    margin: 0 30px;
    border-radius: 25px;
}

.main_egg .e_slide .itm01 {
    background: url(../imges/mv01.png)no-repeat center center/cover;
}

.main_egg .e_slide .itm02 {
    background: url(../imges/mv02.png)no-repeat left bottom /cover;
}

.main_egg .e_slide .itm03 {
    background: url(../imges/mv03.png)no-repeat center center/cover;
}

.main_egg .slide_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
   
    display: flex;
    justify-content: space-between;
    max-width: 1560px;
    width: 100%;
    /* padding: 0 15px; */
}

.main_egg .slide_btn .egg {
    width: 100px;
    height: 100px;
}

.main_egg .slide_btn .egg_l {
    background: url(../imges/negg01.png)no-repeat center center/cover;
    transform: scaleX(-1);
    position: relative;
    transition: 0.3s;
}

.main_egg .slide_btn .egg_l::before {
    content: "\e93e";
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: xeicon;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.main_egg .slide_btn .egg_l:hover {
    background: url(../imges/negg02.png)no-repeat center center/cover;
}

.main_egg .slide_btn .egg_l:hover::before {
    color: transparent;
}

.main_egg .slide_btn .egg_r {
    background: url(../imges/negg01.png)no-repeat center center/cover;
    position: relative;
    transition: 0.3s;
}

.main_egg .slide_btn .egg_r::before {
    content: "\e93e";
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: xeicon;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.main_egg .slide_btn .egg_r:hover {
    background: url(../imges/negg02.png)no-repeat center center/cover;
}

.main_egg .slide_btn .egg_r:hover::before {
    color: transparent;
}

.main_imformation {
    padding: 100px 0;
    background: #f7b83d;
}

.main_imformation .inner {
    display: flex;
    gap: 30px;
}

.main_imformation .i_img {
    width: 100%;
    position: relative;
}

.main_imformation .i_img img {
    border-radius: 25px;
}

.main_imformation .i_img span {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 5px #afafaf;
    white-space: nowrap;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_recipe {
    padding: 100px 0;
}

.main_recipe .inner {
    display: flex;
    justify-content: center;
    min-height: 370px;
}

.main_recipe .left {
    width: 385px;
    background: #f7b83d;
    border-radius: 50px 0 0 50px;

    position: relative;
}

.main_recipe .left .tit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_recipe .left .tit h3 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    margin: 0 0 10px 0;
}

.main_recipe .left .tit p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.main_recipe .right {
    position: relative;
    width: 785px;
    border: 2px solid #f7b83d;
    border-radius: 0 50px 50px 0;
    /* background: #f9f9f9; */
}

.main_recipe .right .r_img img {
    width: 300px;
    height: 380px;
    text-align: center;
    padding: 50px 0;
    margin: 0 0 0 50px;
}

.main_recipe .right .r_img .txt {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
}

.main_recipe .right .r_img .txt span {
    font-size: 20px;
    font-weight: 400;
    color: #f7b83d;
    margin: 0 0 5px 0;
}

.main_recipe .right .r_img .txt strong {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin: 0 0 100px 0;
    white-space: nowrap;
    color: #222;
}

.main_recipe .right .r_img .txt small {
    font-size: 14px;
    font-weight: 400;
    color: #a8a8a8;
    margin: 0 0 0 auto;
    border: 1px solid #a8a8a8;
    padding: 10px 20px;
    border-radius: 25px;
}

.main_recipe .right .r_btn {
    position: absolute;
    top: 70%;
    left: 53%;
    transform: translate(0, 0);

    display: flex;
    gap: 10px;
}

.main_recipe .right .r_btn::before {
    content: "";
    position: absolute;
    left: 49%;
    background: #ddd;
    height: 15px;
    width: 2px;
}

.main_recipe .right .r_btn i {
    font-size: 16px;
    font-weight: 300;
    color: #222;
}

.footer {
    background: #f9f9f9;
}

.footer .f_top {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.footer .f_top .customer {
    display: flex;
    gap: 30px;
}

.footer .f_top .customer>li {
    font-size: 16px;
    font-weight: 500;
}

.footer .f_top .sns {
    display: flex;
    gap: 15px;
}

.footer .f_top .sns i {
    padding: 14px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.footer .f_top .sns .face {
    background: #369;
    border-radius: 10px;
}

.footer .f_top .sns .insta {
    background: #ee4e51;
    border-radius: 10px;
}

.footer .f_bottom {
    padding: 40px 0;
}

.footer .f_bottom address {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 400;
}

.footer .f_bottom .company {
    display: flex;
    margin: 0 0 5px 0;
    gap: 20px;
}

.footer .f_bottom .company>li {
    font-size: 14px;
    font-weight: 300;
}

.footer .f_bottom .tell {
    display: flex;
    gap: 20px;
    margin: 0 0 10px 0;
}

.footer .f_bottom .tell>li {
    font-size: 14px;
    font-weight: 300;
}

.footer .f_bottom span {
    font-size: 13px;
    font-weight: 300;
}